body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    background-color: rgb(134, 134, 134);
    padding: 20px;
    margin-top: 0%;
    height: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.random-names {
    background-color: rgb(135, 135, 135);
    padding: 10px;
    border-radius: 10px;
    margin-left: 1300px;
    margin-right: 150px;
    margin-top: 100px;  
    padding-bottom: 200px;
    border: 2px solid rgb(73, 49, 49);
}
.botao{
    display: inline-flex;

}
.btn:hover{
    background-color: rgb(195, 195, 195);
     cursor:pointer
}
.btn {
    padding: 5px 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(217, 217, 217);
}